body {
  overflow-x: hidden;
}

.sign-up {
  text-align: right;
  margin-right: 21px;
  text-wrap: nowrap;
}

.main-banner-area::before {
  content: '';
  background: linear-gradient(279.99deg,
      #9f5ff1 -1.19%,
      #ff54b0 50.96%,
      #ff9f5a 99.95%);
  z-index: -1;
  transform: matrix(-1, 0, 0, 1, 0, 0);
  width: 100%;
  height: 750px;
  position: absolute;
  display: block;
  background-repeat: no-repeat;
  background-position: center center;
}

.shape-overlay::before {
  left: 0;
  right: 0;
  content: '';
  z-index: -1;
  height: 450px;
  position: absolute;
  background-image: url(/Users/kavitapandey/create_react_2021/my-basic-project/vite-react-ts-eslint-prettier-editorconfig-master/src/components/Navbar/img/LandingPage-images/banner-bg.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  top: 300px;
}

.sign-up-button {
  background: linear-gradient(44.44deg, #ed2775 7.79%, #ff7448 94.18%);
  padding: 7px 26px;
  border: none;
  border-radius: 22px;
}

@media screen and (max-width: 767px) {
  .nav-tabs {
    display: inline-block;
  }

  .sign-up-button {
    padding: 2px 9px;
    margin-left: 5px;
  }

  .container {
    overflow-x: hidden;
    overflow-y: hidden;
  }

  .main-content {
    margin-top: 10px;
  }

  .content h1 {
    font-size: 22px;
  }

  .trusted-by {
    margin-top: 28px;
  }

  .trail-button {
    margin-left: calc(50% - 130px);
  }

  .owl-carousel {
    margin: top 40px;
  }

  .img-fluid {
    margin-top: 40px;
  }

  .shape-overlay::before {
    top: 509px;
  }

  .main-banner-area::before {
    height: 959px;
  }
}

@media screen and (min-width: 767px) and (max-width: 991px) {
  .container {
    max-width: 897px;
    overflow-x: hidden;
  }

  .sign-up-button {
    padding: 2px 9px;
    margin-left: 5px;
  }

  .logo {
    margin-left: 15px;
  }

  .nav-tabs {
    display: inline-block;
  }

  .main-banner-area::before {
    height: 900px;
  }

  .content h1 {
    font-size: 32px;
    text-align: center;
  }

  .trail-button {
    margin-left: calc(50% - 140px);
  }

  .shape-overlay::before {
    top: 450px;
  }

  .main-content {
    margin-top: 20px;
  }

  .trusted-by {
    margin-top: 10px;
    text-align: center;
    margin-right: 10px;
  }

  .owl-carousel {
    margin: top 32px;
  }

  .img-fluid {
    margin-top: 40px;
    margin-left: 133px;
  }
}

@media screen and (min-width: 991px) and (max-width: 1198px) {
  .shape-overlay::before {
    top: 145px;
  }

  .main-banner-area::before {
    height: 594px;
  }

  .content h1 {
    font-size: 40px;
  }

  .trusted-by {
    margin-top: 100px;
  }
}

.pakap-nav {
  position: sticky;
  top: 0;
  z-index: 99999;

}

.navbar.sticky {
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  position: sticky;
  background: #262a37 !important;
  box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.09);
  animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
}
.navbar.sticky.orange{
  background:white !important;
}


@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }

  100% {
    opacity: 1;
    transform: translateZ(0);
  }

}

.nav-link:hover .dropdown-menu {
  display: block;

}

.navbar.red {
  background: linear-gradient(44.44deg, #ED2775 7.79%, #FF7448 94.18%);
}



a.nav-link.dropdown-toggle.orange {
  color: black;
  font-size: 16px;
}
/* .navbar.sticky.orange{
  margin-top:0;
} */
.container.pakap-nav .orange{
  margin-top: 0;
}
